div {
    border: 1px solid black;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


/**** Layout ****/

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
}

.content {
    grid-area: 2 / 2 / 3 / 3;
}


.user-info {
    display: flex;
    align-items: center;
}

.sidebar {
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
}

.sidebar-navigation {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1em;
    margin-bottom: 2em;
}

.sidebar-title {
    display: flex;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}


.project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em;
}

.card {
    position: relative;
    height: 150px;
}

.icon-container {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
}


.updates {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.trending-user {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
}

.trending-user img {
    grid-row: 1 / 3;
}


.sidebar-title svg {
    height: 50px;
}

svg {
    height: 20px;
}



/**** Styling ****/

input {
    background-color: #edeff0;
    width: 80%;
    border: none;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
}

button {
    background-color: #1e9ce6;
    color: #ffffff;
}

img {
    border-radius: 50%;
}

.header {
    padding: 10px 30px;
}

.user-notifications {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-notifications svg {
    padding-left: 50%;
}

.sidebar {
    background-color: #1e9ce6;
    color: #ffffff;
}

.sidebar svg {
    fill: #ffffff;
}

.content {
    background-color: #edeff0;
}

.content h3 {
    margin-bottom: 8px;
}



.projects, .updates {
    margin: 30px 10px;
}



.card, .announcement, .trending-user {
    background-color: #ffffff;
}

.card, .announcement {
    padding: 1em;
}

.trending-user {
    font-size: 0.9em;
    padding: 0.5em 1em;
}

.card svg {
    padding: 10px;
}

.announcement {
    font-size: 0.8em;
}



